{name, "gtknode"}.
{description, "Erlang GTK binding"}.
{homepage, "https://github.com/massemanet/gtknode"}.
{url, {git, "https://github.com/nox/gtknode.git", {branch, "fix-gdk-pixbuf-path"}}}.
{authors, ["Mats Cronqvist <masse@cronqvi.st>"]}.
{license, "MIT", "COPYING"}.
{build_command, "$AGNER_PACKAGE_REPO/build.sh"}.
{install_command, "make install"}.
